extends layout

block content
  .row
  .col-md-12
    h1 FAQs
    h2 Where do I enter my words for the day?
    h2 What if I just want to work on my existing novel (/script/articles/poetry collection)
    h2 What if I can't - or don't want to - write every day?
    p
        | Some people will tell you that you have to write every day to be a real writer. They're wrong. Daily writing is a strategy that works for a lot of people, nothing more.
    p
        | Daily Words is designed primarily with people who want to challenge themselves to write every day in mind - if that's not a realistic or helpful goal for you, we hope you can still find Daily Words of benefit. Perhaps you will log you're writing on the days you're able to do it or 