body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/alphabets.jpg");
  background-size: 1500px;
}

a {
  color: #00B7FF;
}

background {
  width: 100%;
}

.btn {
  margin: 5px;
}

.jumbotron {
  border-radius: 25px;
  padding: 4%;
  margin: 8%;
}

.wbackground{
  background-color: white;
  background-image: none;
  margin: 0px;
}
